 *{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: top;
    outline: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}
body {
    line-height: 1;
}
ol,
ul {
    list-style: none;
}
blockquote,
q {
    quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
* html .clearfix {
    display: inline-block;
}
*:first-child + html .clearfix {
    display: inline-block;
}
*,
*:after,
*:before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}
::-webkit-scrollbar {
    width: 5px;
    background: rgba(1, 1, 1, 0.1);
    margin: 0px 0px 0px -6px;
    padding: 0px 2px;
}
::-webkit-scrollbar-track {
    padding: 4px;
}
::-webkit-scrollbar-thumb {
    background: #6e358c;
}
::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(1, 1, 1, 0.1);
}

html,
body {
    overflow-x: hidden;
    scroll-behavior: smooth;
    background: linear-gradient(#27243c, #343151, #5c5b8d);
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
html,
body,
input,
button,
textarea,
select {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    line-height: 28px;
    color: #fff;
}
.index {
    position: absolute;
    top: -200053px;
}
body.loaded {
    overflow-x: hidden;
}
.wrapper {
    max-width: 1440px;   
    padding: 0px 15px;
    text-align: center;
}

.home-wrapper{
margin: 0 auto 20px auto !important;
}
a {
    color: #52bd95;
    text-decoration: none;
    font-weight: bold;
}
p {
    font-size: 16px;
    line-height: 1.8;
    color: #b1b5d3;
    margin-bottom: 10px;
}
.p14 {
    font-size: 14px;
    line-height: 1.6;
}
.nomargin {
    margin: 0;
}



.hs {
    font-weight: bold;
    color: #b1b5d3;
    font-size: 18px;
    margin-bottom: 10px;
}
.h1 {
    font-weight: bold;
    color: #fff;
    font-size: 36px;
    line-height: 1.2;
    margin-bottom: 20px;
}
.h1 span {
    color: #52bd95;
}
.h2 {
    font-weight: bold;
    color: #fff;
    font-size: 28px;
    line-height: 1.2;
    margin-bottom: 20px;
}
.h2g {
    font-weight: bold;
    color: #52bd95;
    font-size: 22px;
    line-height: 1.2;
    margin-bottom: 20px;
}
.cta {
    display: inline-block;
    padding: 10px 20px;
    min-width: 180px;
    text-align: center;
    color: #fff;
    background: linear-gradient(-45deg, #52bd95, #3d896a, #52bd95);
    border-radius: 4px;
    font-weight: bold;
    font-size: 14px;
    border: 2px solid transparent;
    text-decoration: none;
    cursor: pointer;
    transition-duration: 0.7s;
    animation: gradient 3s ease infinite !important;
    background-position: 0% 0%;
    background-size: 400% 400%;
}
.cta:hover {
    box-shadow: -10px -1px 82px 43px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: -10px -1px 82px 43px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: -10px -1px 82px 43px rgba(0, 0, 0, 0.1);
    background-position: 50% 50%;
}
.ctag {
    background: transparent;
    color: #b1b5d3;
    border: 2px solid #b1b5d3;
}
.ctag:hover {
    background: #b1b5d3;
    color: #333;
}
.logotype-image {
    padding: 0px;
    margin: 10px 0px;
    float: left;
    height: 50px;
    width: 50px;
    transition-duration: 0.8s;
    opacity: 0;
    margin-top: -50px;
    margin-bottom: 50px;
}
.loaded .logotype-image {
    opacity: 1;
    margin-top: 10px;
    margin-bottom: 10px;
}
.ghost {
    min-height: 800px;
}

.toggle {
    cursor: pointer;
}
.toggle .icon-down-open {
    display: inline-block;
    transition-duration: 0.5s;
}


.slidered {
    max-height: 9900px;
    transition: max-height 0.6s ease-in;
}
.dead {
    max-height: 0;
    transition: max-height 0.6s ease-out;
    overflow: hidden;
}
textarea {
    resize: none;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@keyframes menuHandle {
    0% {
        opacity: 0;
        visibility: hidden;
        height: 300px;
    }
    1% {
        opacity: 0;
        visibility: visible;
        height: 700px;
    }
    100% {
        opacity: 1;
        visibility: visible;
        height: 900px;
    }
}

@keyframes menuHandle2 {
    0% {
        opacity: 0;
        visibility: hidden;
    }
    1% {
        opacity: 0;
        visibility: visible;
    }
    100% {
        opacity: 1;
        visibility: visible;
    }
}

.header {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    background: #27243c;
    z-index: 1000;
}
.header .wrapper {
    margin-bottom: 0px;
}
.header-filler {
    display: block;
    height: 100px;
    width: 100%;
}
        @media screen and (max-width: 1160px) {
           

            
        }
        .tpl-white {
            color: #737A96;
        }
    
        .tpl-white p {
            color: #737A96;
        }
    
        .tpl-white .hs {
            color: #737A96;
        }
    
        .tpl-white .h1 {
            color: #27243C;
        }
    
        .tpl-white .h2 {
            color: #737A96;
        }
    
        .tpl-centered {
            text-align: center;
        }
    
        .bgr-white {
            background: #fff;
        }
    
        .bgr-white-to-grey {
            background: linear-gradient(#fff, #27243C);
        }
    
        .bgr-grey-to-white {
            background: linear-gradient(#27243C, #fff);
        }
    
        .animated {
            transition: all 1.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
            -moz-transition: all 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
            -webkit-transition: all 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
            -o-transition: all 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
        }
    
        .animatedX {
            transition: all 0.7s cubic-bezier(0.175, 0.885, 0.32, 1);
            -moz-transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1);
            -webkit-transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1);
            -o-transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1);
        }
    
        .animatedX2 {
            transition: all 2.2s cubic-bezier(0.175, 0.885, 0.32, 1);
            -moz-transition: all 4.4s cubic-bezier(0.175, 0.885, 0.32, 1);
            -webkit-transition: all 4.4s cubic-bezier(0.175, 0.885, 0.32, 1);
            -o-transition: all 4.4s cubic-bezier(0.175, 0.885, 0.32, 1);
        }
    
        .moved {
            opacity: 0;
            transition-duration: 1s;
            transform: translate(0px, 40px);
            -webkit-transform: translate(0px, 40px);
            -moz-transform: translate(0px, 40px);
            -o-transform: translate(0px, 40px);
            -ms-transform: translate(0px, 40px);
        }
    
        .moved.visible {
            overflow: hidden;
            opacity: 1;
            transform: translate(0px, 0px);
            -webkit-transform: translate(0px, 0px);
            -moz-transform: translate(0px, 0px);
            -o-transform: translate(0px, 0px);
            -ms-transform: translate(0px, 0px);
        }
    
        @media screen and (min-width: 370px) {
            .wrapper {
                padding: 0px 30px;
            }
        }

        iframe {
                display: inline-block;
                margin: 10px auto;
                border-radius: 16px;
                max-width: 100%;
                position: relative;            
                cursor: pointer;
                min-width: 69vw;               
                max-height: 40vh;
            }

    .mb-change{
                margin:auto auto 80px auto !important;
            }
        @media screen and (min-width: 770px) {
            .header {
                bottom: auto;
            }
            


        iframe{
				display: inline-block; margin: 10px auto; border-radius: 16px; max-width: 100%; position: relative; min-height: 120px; cursor: pointer; 			
				min-width: 50vw;
				min-height: 48vh;
			}
            
                
            .wrapper {
                margin: 0 auto 20px auto;
                padding: 0px 70px;
                text-align: center;
            }
    
            p {
                font-size: 16px;
                line-height: 28px;
                margin-bottom: 20px;
            }
    
            .hs {
                font-size: 16px;
                line-height: 28px;
                margin-bottom: 10px;
            }
    
            .h1 {
                font-size: 44px;
                line-height: 1.1;
                margin-bottom: 20px;
            }
    
            .h1big {
                font-size: 52px;
                line-height: 1.2;
            }
    
            .h2 {
                font-size: 34px;
                line-height: 1.1;
                margin-bottom: 20px;
            }
    
            .cta {
                font-size: 14px;
            }
        }
    
        @media screen and (min-width: 1160px) {
            .wrapper {
                margin: 0 auto 20px auto;
                padding: 0px 140px;
                text-align: left;
            }
            iframe{
				display: inline-block; margin: 10px auto; border-radius: 16px; max-width: 100%; position: relative; min-height: 120px; cursor: pointer; 			
				min-width: 50vw;
				min-height: 48vh;
			}
    
            p {
                font-size: 16px;
                line-height: 28px;
                margin-bottom: 20px;
            }
    
            .hs {
                font-size: 16px;
                line-height: 28px;
                margin-bottom: 10px;
            }
    
            .h1 {
                font-size: 44px;
                line-height: 1.1;
                margin-bottom: 20px;
            }
    
            .h1big {
                font-size: 52px;
                line-height: 1.2;
            }
    
            .h2 {
                font-size: 34px;
                line-height: 1.1;
                margin-bottom: 20px;
            }
    
            .cta {
                font-size: 14px;
            }
    
            .logotype-image {
                height: 80px;
                width: 80px;
            }
    
            .mobileOnly {
                display: none !important;
            }
    
            .tpl-centered,
            .tpl-centered p,
            .tpl-centered .hs,
            .tpl-centered .h1 {
                text-align: center;
            }
    
            
        }



.header {
    display: block;
    width: 100%;
    z-index: 99;
    position: relative;
     
}
.header .container{
   
    margin: auto;
}
.container{
    max-width: 1200px;
}
.header .item-left{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.header .logo {
    width: 50px;
}
.header .menu-toggle {
    font-size: 2rem;
}

.header, .header ul li a{
    color: #b1b5d3;
    transition: color 0.3s ease;
}

.menu-item{
    list-style-type: none;
    display: block;  
    padding: 2px 0px;
    text-align: left;
}
.mega-menu-list-items {
    margin-top: 5px;
}
.mega-menu-list-items li.menu-item{
    font-size: 25px;
    line-height: 1;
    margin-left: 2rem;
}
.header .menu > ul > li{
    line-height: 2rem;
    font-size: 2.5rem;

  
}
.nav-item a{
    text-decoration: none;
}
.icon-removed{
    display: none;
}
header-links{
    max-width: 100%;
}
.header-links-removed{

   display: none; 
}
.nav-item .icon-down-open {
   display: none;    
}
.rotated {
    margin: 5px;
    position: absolute;
  transform: rotate(90deg); 
 
}

span.mega-heading{
   font-size: 2rem;
   transition: color 0.3s ease;

}
.mega-heading{
    transition: color 0.3s ease;
}

.mega-items{
  margin-left: 2rem;
 
}
.main-nav .nav-item li.menu-item{
    transition: color 0.3s ease;
} 
li.menu-item a{
    transition: color 0.3s ease;
}

.sub-menu {
    display: none;
}
.mega-menu-list-items{
    display: none;
}

.collapsed{
    display: block;
}
.mt-15{
 margin-top: 15px;
}

.mr-20{
     margin-right: 20px;
}
.languages{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    /* margin-top: 20px; */

}

ul.languages li {
    text-decoration: none;
    font-size: 2rem;
    list-style-type: none;
}

ul.languages li a{
    text-decoration: none;
 
}
.main-nav .nav-item li.menu-item:hover,
.mega-heading:hover,
.header ul li > span:hover,
.header ul li a:hover{
    color: #52BD95;
}
.header-links-removed{

   display: none; 
}
.lang-removed{

   display: none; 
}

@media screen and (min-width: 1160px) {
 .header-links-removed{
   display: block; 
}
.mega-menu-list-items{
    display: block !important;
}
.mega-menu-list-items li.menu-item{
    font-size: 16px !important;
    line-height: 1;
    margin-left: 0 !important;
}
.lang-removed{
   display: block; 
}
    .mt-15 {
    margin-top: 0;
}

   .row {
     display: flex;  
     flex-wrap: wrap;
     padding: 20px 0px;
   } 
   .v-center{
       align-items: center;
   }
   .header .item-left{
       flex: 0 0 20%;      
   }
   .header .item-center{
      text-align: right;
       flex: 0 0 56%;


   }
   .header .item-center li{
     margin-left: 35px;
   }
   .header .item-right{
       flex: 0 0 17%;
   }

   .header .menu > ul > li {
       display: inline-block;
   }
   .header .item-left i {
       display:none;
   }

   .nav-item .icon-right-open {    
   display: none;  
}
.nav-item .icon-down-open {
    display: inline-block;
    margin: 0px -5px;  
    
}

.header .menu > ul > li {
    line-height: 2rem;
    font-size: 2rem;
    margin-left: 35px;
    font-size: 16px;
    cursor: pointer;
}

.header .menu .single-column-menu{
display: none;
position: absolute;
padding: 20px;
left: 700px;
background: rgba(100, 100, 100, 0.85);
padding: 20px;
min-width: 280px;
border-radius: 15px;
   
}
span.mega-heading{
   font-size: 16px;
   transition: color 0.3s ease;
   font-weight: 700;

}
.header .menu .mega-menu{
    position: absolute;     
    transform: translateX(-20vw);
    background: rgba(100, 100, 100, 0.85);
    padding: 20px;
    min-width: 60vw;
    border-radius: 15px;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(3, 1fr);
    line-height: 1.2;
    display: none;
    font-weight: normal;
    
}

.header .menu .mega-menu .mega-items{
margin: 0 !important;
}
.header .menu .mega-menu .mega-items li{
margin: 0 !important;
}


.header .menu .menu-item-has-children:hover .single-column-menu{
    display: block;
    animation: menuHandle2 1.3s ease !important;
}

.header .menu .menu-item-has-children:hover .mega-menu{
    display: grid;
    animation: menuHandle2 1.3s ease !important;
}
.languages{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    /* margin-top: 20px; */

}
ul.languages li {    
    font-size: 16px;
    font-weight: bold;
    
    
}
}

/* START GOT TO TOP */
#goToTop {
    position: fixed;
    bottom: -60px;
    right: 20px;
    display: block;
    padding: 10px;
    background: rgba(0, 0, 0, 0.8);
    -moz-border-radius: 8px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    cursor: pointer;
    z-index: 10000;
    transition: all 1.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -moz-transition: all 1.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -webkit-transition: all 1.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -o-transition: all 1.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
body.changed #goToTop {
    bottom: 20px;
}
#goToTop span {
    display: block;
    width: 20px;
    height: 14px;
    margin-top: 8px;
}
#goToTop span:after {
    display: block;
    content: "";
    width: 13px;
    height: 2px;
    transform: rotate(0deg);
    background-color: #fff;
    margin-left: 9px;
    margin-top: -1px;
    transition: all 0.9s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -moz-transition: all 0.9s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -webkit-transition: all 0.9s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -o-transition: all 0.9s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
#goToTop span:before {
    display: block;
    content: "";
    width: 13px;
    height: 2px;
    transform: rotate(0deg);
    background-color: #fff;
    margin-left: 0px;
    margin-top: 0px;
    transition: all 0.9s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -moz-transition: all 0.9s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -webkit-transition: all 0.9s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -o-transition: all 0.9s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

body.changed #goToTop span:after {
    transform: rotate(45deg);
}
body.changed #goToTop span:before {
    transform: rotate(-45deg);
}

@media only screen and (max-width: 920px) {
    body.changed #goToTop {
        bottom: 20px;
    }
}

/* END GOT TO TOP */


/* START MAIN */
.limited {
    max-width: 600px;
    margin: 0 auto;
}

.welcome {
    padding-bottom: 40px;
}

.welcome .welcome-cta {
    padding: 0px 0px;
}
.welcome .welcome-cta a {
    margin: 10px 10px;
}
.welcome .welcome-image {
    min-height: 200px;
}
.welcome .welcome-image img {
    max-width: 100%;
    margin-bottom: 20px;
}
.welcome .welcome-image-container {
    background: url("/static/core/images/ilustracja-04-min.svg") no-repeat center center;
    background-size: contain;
    width: 100%;
    min-height: 200px;
}
.welcome .wrapper .welcome-logotypes {
    text-align: center;
}
.welcome .wrapper .welcome-logotypes .logo {
    display: inline-block;
    margin: 20px;
}
.welcome .wrapper .welcome-logotypes .logo img {
    max-height: 30px;
}

@media screen and (min-width: 760px) {
    .loaded .welcome .welcome-image-container {
        background: url("/static/core/images/ilustracja-04-min.svg") no-repeat center center;
        background-size: contain;
        min-height: 300px;
    }
}

.listing__steps {
    padding-top: 40px;
}
.listing__steps .step {
    padding: 40px 0px 80px 0px;
}

.listing__steps .step .content {
    max-width: 450px;
    margin: 0 auto;
}
.listing__steps .step .content .head {
    color: #fff;
    font-weight: bold;
    font-size: 24px;
    line-height: 130%;
}
.listing__steps .step .content .number {
    color: #52bd95;
    font-size: 90px;
    line-height: 63px;
    margin-bottom: 20px;
    font-weight: bold;
}
.listing__steps .step .content .number span {
    color: #fff;
}

@media screen and (min-width: 1160px) {
    .welcome {
        padding: 80px 0px;
    }
    .welcome .wrapper {
        display: grid;
        grid-template-columns: 5fr 6fr;
        grid-template-areas: "text image" "text-more text-more" "cta cta" "logotypes logotypes";
        grid-gap: 0px 20px;
    }
    .welcome .wrapper .welcome-cta {
        grid-area: cta;
    }
    .welcome .wrapper .welcome-text {
        grid-area: text;
    }
    .welcome .wrapper .welcome-text-more {
        grid-area: text-more;
    }
    .welcome .wrapper .welcome-logotypes {
        grid-area: logotypes;
    }
    .welcome .wrapper .welcome-image {
        grid-area: image;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .welcome .wrapper .welcome-cta a {
        margin: 10px 20px 10px 0px;
    }
    .welcome .wrapper .welcome-logotypes {
        text-align: left;
    }
    .welcome .wrapper .welcome-logotypes .logo {
        display: inline-block;
        margin: 0px 20px 10px 0px;
    }
}

.gradientSpecialMain {
    background: linear-gradient(#27243c, #343151);
}

/* END MAIN */

/* START OFFER */
.offer {
    padding-bottom: 20px;
    position: relative;
    z-index: 10;
}

.offer .offer-long {
    padding-bottom: 40px;
}

.offer .offer-panels .offer-panel {
    padding-bottom: 30px;
}
.offer .offer-panels .offer-panel p {
    max-width: 300px;
    margin: 0 auto 10px auto;
}
.offer .offer-panels .offer-panel .offer-panel-icon {
    display: inline-block;
    clear: both;
    width: 48px;
    height: 48px;
    border-radius: 16px;
    background: #b1b5d3;
    border: 1px solid #000000;
    box-sizing: border-box;
    text-align: center;
    padding-top: 4px;
}
.offer .offer-panels .offer-panel .offer-panel-icon i {
    color: #000;
    font-size: 22px;
}
.offer .offer-long-more .slidered:not(.dead) {
    margin-bottom: 60px;
}

@media screen and (min-width: 770px) {
    
    .offer .offer-panels .offer-panel {
        display: inline-block;
        max-width: 40%;
        margin: 0% 4%;
    }
    .offer .offer-panels .offer-panel p {
        max-width: 400px;
        margin: 0 0 10px 0;
    }
    .offer .offer-panels .offer-panel .offer-panel-icon {
        padding-top: 8px;
    }
    .offer .wrapper .offer-long-more .slidered {
        display: grid;
        grid-template-columns: 10fr 9fr;
        grid-gap: 20px;
        margin-bottom: 40px;
    }
}

@media screen and (min-width: 1160px) {
    .offer {
        padding-bottom: 0px;
    }
    .offer .wrapper {
        display: grid;
        grid-template-areas: "panels long" "long-more long-more";
        grid-template-columns: 10fr 9fr;
        grid-gap: 20px;
    }
    .offer .wrapper .offer-long {
        grid-area: long;
    }
    .offer .wrapper .offer-long-more {
        grid-area: long-more;
    }
    .offer .wrapper .offer-panels {
        grid-area: panels;
    }
    .offer .offer-panels .offer-panel {
        display: inline-block;
        max-width: 45%;
        margin: 0% 4% 0% 0%;
    }
    /* LISTING */
     .ghostBlock {
        max-width: 900px;
        margin-bottom: 20px;
    }
    .listing__steps .step {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 0px;
        grid-template-areas: "content filling";
        position: relative;
    }
    .listing__steps .step:nth-child(2n) {
        grid-template-areas: "filling content";
    }
    .listing__steps .step .content {
        grid-area: content;
        max-width: 750px;
        padding: 0px 80px 0px 40px;
    }
    .listing__steps .step .filling {
        grid-area: filling;
    }

    .listing__steps .step:nth-child(2n) .content {
        padding: 0px 40px 0px 80px;
    }

    .listing__steps .step .textContent {
        text-align: right;
    }
    .listing__steps .step:nth-child(2n) .textContent {
        text-align: left;
    }

    .listing__steps .step .headContainer {
        display: grid;
        -grid-template-columns: auto 60px;
        grid-gap: 30px;
        grid-template-areas: "head number";
        margin-bottom: 10px;
        position: relative;
    }
    .listing__steps .step:nth-child(2n) .headContainer {
        grid-template-areas: "number head";
        -grid-template-columns: 60px auto;
    }
    .listing__steps .step .headContainer .number {
        grid-area: number;
        justify-items: center;
        text-align: right;
    }
    .listing__steps .step .headContainer .head {
        grid-area: head;
        align-self: center;
    }

    .listing__steps .step .headContainer .head {
        text-align: right;
    }
    .listing__steps .step:nth-child(2n) .headContainer .head {
        text-align: left;
    }

    .listing__steps .step:before {
        display: block;
        content: "";
        width: 2px;
        height: 100%;
        background-color: #52bd95;
        position: absolute;
        left: 50%;
    }

    .listing__steps .step .headContainer:after {
        display: block;
        content: "+";
        background-color: #52bd95;
        width: 100px;
        height: 100px;
        border-radius: 50%;
        position: absolute;
        top: -10px;
        right: -130px;
        border: 20px solid #343151;
        box-shadow: 0px 0px 0px 2px #52bd95;
        font-size: 70px;
        font-weight: normal;
        padding-top: 13px;
        text-align: center;
        padding-left: 2.5px;
        color: rgba(255, 255, 255, 0.4);
    }
    .listing__steps .step:nth-child(2n) .headContainer:after {
        left: -130px;
        right: auto;
    }
}

/* END OFFER */
/* START HAPPY CUSTOMER */
.happyCustomer {
    padding-bottom: 0px;
    position: relative;
    margin-top: -20px;
    background: #343151;
    z-index: 5;
}
.happyCustomer-bgr {
    bottom: -20px;
}
.happyCustomer .wrapper {
    position: relative;
    z-index: 80;
}
.happyCustomer-video {
    display: inline-block;
    margin: 10px auto;
    border-radius: 16px;
    max-width: 100%;
    position: relative;
    min-height: 120px;
    cursor: pointer;
}
.happyCustomer-video img {
    display: block;
    border-radius: 16px;
    max-width: 100%;
    position: static;
    z-index: 2;
}
.video-content > iframe{

    border-radius: 16px;
   
}

.happyCustomer-video .play {
    display: block;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    background: #52bd95;
    margin-left: -40px;
    margin-top: -40px;
    z-index: 3;
    font-size: 42px;
    padding-top: 24px;
    text-align: center;
    padding-left: 8px;
    opacity: 0.7;
    transition-duration: 1s;
}
button .ytp-large-play-button svg:hover {
    opacity: 1;
    transform: rotate(240deg);
}









.whitePlacer {
    background: #fff;
    position: absolute;
    top: 60%;
    left: 0px;
    right: 0px;
    bottom: -60px;
}

@media screen and (min-width: 760px) {
    .happyCustomer-video {
        min-height: 300px;
    }
}

@media screen and (min-width: 1860px) {
    .happyCustomer-bgr {
        bottom: -90px;
    }
}

/* END HAPPY CUSTOMER */

/* START ARTICLES */

.articles .articles-container {
    padding: 40px 0px 70px 0px;
}
.articles .articles-container .articles-item {
    margin-bottom: 60px;
}
.articles .articles-container .articles-item .articles-image {
    margin-bottom: 20px;
}
.articles .articles-container .articles-item .articles-image img {
    display: block;
    max-width: 100%;
    margin: 0 auto;
    border-radius: 5px;
}

@media screen and (min-width: 1160px) {
    .articles .wrapper {
        margin-bottom: 0px;
    }
    .articles .articles-container .articles-item {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 20px;
        grid-template-areas: "text image";
        grid-gap: 20px;
        padding: 40px 0px;
        justify-items: center;
        justify-content: center;
        margin-bottom: 0px;
    }
    .articles .articles-container .articles-item:nth-child(2n) {
        grid-template-areas: "image text";
    }
    .articles .articles-container .articles-item .articles-text {
        grid-area: text;
        align-self: center;
        padding-left: 0%;
        padding-right: 15%;
    }
    .articles .articles-container .articles-item .articles-image {
        grid-area: image;
        align-self: center;
        margin-bottom: 0px;
    }
    .articles .articles-container .articles-item:nth-child(2n) .articles-text {
        padding-left: 10%;
        padding-right: 0%;
    }
}

/* END ARTICLES */

/* START WETOOLS */
.weTools {
    padding: 50px 0px;
    background: #343151;
}
.weTools .h1 {
    text-align: center;
}
.weTools .wrapper {
    padding-top: 40px;
}
.weTools__menu {
    margin: 30px 20px;
    text-align: center;
}
.weTools__menu li {
    display: inline-block;
    padding: 20px 40px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    margin: 0px;
    cursor: pointer;
}
.weTools__menu li span {
    font-weight: bold;
    color: #b1b5d3;
    font-size: 16px;
}
.weTools__menu li.active {
    border-bottom: 1px solid #52bd95;
}
.weTools__menu li.active span {
    color: #52bd95;
}
.weTools__menu li.glide__bullet--active {
    border-bottom: 1px solid #52bd95;
}
.weTools__menu li.glide__bullet--active span {
    color: #52bd95;
}

.weTools__sliderWrapper {
    margin: 30px auto;
}
.weTools__sliderWrapper .slide {
    /*text-align: center;*/
    margin: 20px 0px;
    max-width: 90vw;
}
.weTools__sliderWrapper .slide .image img {
    display: block;
    max-width: 100%;
}

.weTools__sliderWrapper .slide .textContent p {
    margin-bottom: 25px;
    font-size: 16px;
}
.weTools__sliderWrapper .slide .textContent .h1s {
    font-size: 24px;
    line-height: 130%;
    color: #ffffff;
    font-weight: bold;
}

.marginOStyle {
    margin-top: -10px;
}
.marginOStyle2 {
    margin-bottom: -40px;
}

@media screen and (min-width: 1060px) {
    .marginOStyle {
        margin-top: -160px;
    }
    .marginOStyle2 {
        margin-bottom: -120px;
    }
    .weTools__sliderWrapper {
        text-align: left;
    }
    .weTools__sliderWrapper .slide {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "textContent image";
        grid-gap: 0px 80px;
        padding: 30px;
    }
    .weTools__sliderWrapper .slide .image {
        grid-area: image;
        align-self: center;
    }
    .weTools__sliderWrapper .slide .textContent {
        grid-area: textContent;
        align-self: center;
    }
    .weTools__sliderWrapper .slide .textContent p {
        text-align: left;
    }
}

.glide {
    cursor: -webkit-grab;
}
.glide {
    position: relative;
    width: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.glide__slides,
.glide__track {
    overflow: hidden;
}
.glide__slides {
    margin: 0;
}
.glide__slides {
    position: relative;
    width: 100%;
    list-style: none;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -ms-touch-action: pan-Y;
    touch-action: pan-Y;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    will-change: transform;
}
.slider__frame {
    background: transparent;
    font-weight: 900;
}

/* END WETOOLS */
/* START OUR CLIENTS */

.ourClients .wrapper {
    padding: 80px 20px 40px 20px;
}
.ourClients .wrapper p {
    max-width: 600px;
    margin: 0 auto 20px auto;
    color: #737a96;
}
.ourClients .wrapper .h1 {
    max-width: 760px;
    margin: 0 auto 20px auto;
    color: #222;
}
.ourClients .ourClients-logotypes img {
    margin: 30px;
}

@media screen and (min-width: 760px) {
    .ourClients .wrapper {
        padding: 80px 20px 60px 20px;
    }
}

@media screen and (min-width: 1160px) {
    .ourClients .wrapper {
        padding: 40px 20px 80px 20px;
    }
}

/* END OUR CLIENTS */

/* START CONTACTFORM */
.feedback{
    color: #52bd95;
    font-size: large;
    font-weight: bold;
}
.contactForm {
    position: relative;
    z-index: 120;
}
.post-container{
    display: flex;
    flex-direction: row;
}
.contactForm .wrapper {
    position: relative;
    z-index: 120;
}
.contactForm .wrapper p {
    max-width: 430px;
    margin: 0 auto 20px auto;
  
}


.contactForm .wrapper .h1 {
    /*max-width: 760px; old*/
    max-width: 660px;
    margin: 0 auto 20px auto;
    /*font-size: 36px; old*/
    font-size: 34px;
}
.contactForm .wrapper form {
    max-width: 600px;
    margin: 0px auto;
    position: relative;
    z-index: 120;
    padding-bottom: 40px;
}
.contactForm .wrapper input,
.contactForm .wrapper textarea {
    display: block;
    background: transparent;
    border: 1px solid #737a96;
    border-radius: 6px;
    padding: 12px;
    width: 100%;
    
}


.m-20{
    margin-bottom: 20px !important;
}
.contactForm .wrapper .submitted input:invalid,
.contactForm .wrapper .submitted textarea:invalid {
    border: #990000 solid 2px;
}

.contactForm .wrapper .submitted input:invalid:focus,
.contactForm .wrapper .submitted textarea:invalid:focus {
    border: #990000 solid 2px !important;
    outline: 0;
}

.contactForm .wrapper2 .submitted input:invalid + span:after {
    display: block;
    content: "Wypełnij to pole";
    color: #aa0000;
    font-weight: bold;
    text-align: left;
    padding: 2px 12px;
}
.contactForm .wrapper2 .submitted textarea:invalid + span:after {
    display: block;
    content: "Wypełnij to pole";
    color: #aa0000;
    font-weight: bold;
    text-align: left;
    padding: 2px 12px;
    margin-bottom: 20px;
}
.contactForm .wrapper2 .submitted textarea:invalid {
    margin-bottom: 0px;
}

.ghostBlock {
    min-height: 400px;
    background: #ddd;
    margin: 0 auto;
    max-width: 600px;
    margin-bottom: 60px;
}

    .contactForm .wrapper .submit-button {
        text-align: left;
        
    }
@media screen and (min-width: 760px) {
    .contactForm .wrapper .c2 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 20px;
        margin-bottom: 20px;
    }
    
    .contactForm .wrapper .agree {
        text-align: left !important;
        margin: 0px 0px 20px 0px;
    }
    .contactForm .wrapper .buttons {
        text-align: left;
        margin: 0px 0px 20px 0px;
    }
  
   
}

@media screen and (min-width: 1160px) {
     .ghostBlock {
        max-width: 900px;
        margin-bottom: 20px;
    }
    .contactForm .wrapper .c2x {
        display: grid;
        grid-template-columns: 4fr 4fr;
        grid-gap: 60px;
        grid-template-areas: "form additional";
    }
    .contactForm .wrapper .c2x form {
        max-width: 900px;
        margin: 0px;
        grid-area: form;
    }
    .contactForm .wrapper .c2x .additional {
        max-width: 900px;
        margin: 0px;
        grid-area: additional;
    }
}

/* END CONTACTFORM */

/*MAIN BLOG WRAPPER */
.blog .h1g {
    color: #52bd95;
    font-size: 24px;
    text-align: left;
}
.blog .buttons {
    text-align: center;
}

img.richtext-image{
    width: 100%;
    margin-bottom: 30px;
    border-radius: 5px;
    height: min-content;
}

img.full-width {
    display: block;
    margin: auto;
    width: 100%;
    height:min-content; 
    margin-bottom: 30px;  

}

/* @todo */
.blog__categories {

    margin: 0px 0px 30px 0px;
    text-align: left;
    border-bottom: 1px solid #F5F9FC;
    white-space: nowrap;

}
.margin_blog_details{
margin: 30px 0px 30px 0px;
}

.margin_blog_main{
margin: 0px 0px 30px 0px;
}

.blog__categories li {
    display: inline-block;
    padding: 10px 10px 10px 0px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    margin: 0px;
    cursor: pointer;
    position: relative;
}
.blog__categories li a {
    font-weight: normal;
    color: #f5f9fc;
    font-size: 18px;
}

.blog__categories li.active::after {
    display: block;
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0px;
    right: 0px;
    background: #52bd95;
    height: 1px;
}
.blog__categories li.active a {
    color: #52bd95;
}
.blog__categories li.righter {
    float: right;
    padding: 10px 0px 10px 10px;
    z-index: 10;
    background: #27243c;
}

.blog__posts {
    max-width: 880px;
    margin-bottom: 40px;
}
.blog__posts .post {
    display: grid;
    grid-template-columns: 138px auto;
    grid-gap: 15px;
    margin-bottom: 20px;  
}
.blog__posts .post .wrap {
    text-align: left;
}
.blog__posts .post .wrap p {
    color: #f5f9fc;
    margin-bottom: 10px;
    font-size: 12px;
    max-height: 32px;
    overflow: hidden;
    line-height: 130%;
}
.blog__posts .post .wrap p.h3, .h3{
    font-size: 14px;
    line-height: 130%;
    font-weight: bold;
}


.latest-title{
    min-height:70px;
}
.latest-content{
    min-height: 135px;
}
.blog__posts .post .wrap .withCats {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 10px;
    margin-bottom: 20px;
    align-items: center;
}
.blog__posts .post .wrap .withCats a {
    color: #f5f9fc;
    font-weight: normal;
    display: block;
    text-align: center;
}
.blog__posts .post .wrap .withCats .cta {
    padding: 2px;
    min-width: 10px;
    font-size: 12px;
    font-weight: normal;
}

.blog__posts .post .image .img {
    display: block;
    width: 138px;
    height: 92px;
    background: #f5f9fc;
    border-radius: 12px;
}

.addSpaceTopBottom {
    padding-top: 20px;
    padding-bottom: 20px;
}


@media screen and (min-width: 760px) {
    .blog .h1g {
        font-size: 48px;
    }
    .blog__categories {
    margin: 30px 0px 30px 0px;    


}
  
.margin_blog_details{
margin: 30px 0px 70px 0px;
}

.margin_blog_main{
margin: 30px 0px 30px 0px;
}


    .blog__categories li {
        padding: 10px 10px 10px 0px;
    }
    .blog__categories li a {
        font-size: 24px;
    }
    .blog__posts .post {
        display: grid;
        grid-template-columns: 276px auto;
        grid-gap: 25px;
        margin-bottom: 20px;
    }
    .blog__categories li.righter {
        float: right;
        padding: 10px 0px 10px 10px;
    }
    .blog__posts .post {
        margin-bottom: 40px;
    }
    .blog__posts .post .image .img {
        display: block;
        width: 276px;
        height: 183px;
        background: #f5f9fc;
        border-radius: 12px;
    }

    .blog__posts .post .wrap p.h3, .h3{
        font-size: 22px;
        line-height: 130%;
        font-weight: bold;
    }
    .blog__posts .post .wrap .withCats {
        display: grid;
        grid-template-columns: auto auto;
        grid-gap: 10px;
        margin-bottom: 20px;
        align-items: center;
        justify-items: left;
    }
    .blog__posts .post .wrap .withCats .cta {
        padding: 4px 20px;
        min-width: 10px;
        font-size: 14px;
        font-weight: normal;
    }
    .addSpaceTopBottom {
        padding-top: 40px;
        padding-bottom: 40px;
    }
    .blog-wrapper{
     margin: 0 auto 50px auto !important;
     padding: 0px 140px;
        text-align: left;
        }
}

@media screen and (min-width: 1060px) {
    .blog .h1g {
        font-size: 64px;
    }

    img.full-width {
    display: block;
    margin: auto;    
    width: 800px;
    margin-bottom: 30px; 
}

img.left {
    display: inline; 
    width: 500px;
    height:min-content;  
   
}

img.left-wrapped{
    width: 500px;
    float: left;   
    height:min-content;   
    margin-right: 10px;

}

img.right-wrapped{
    width: 500px;
    float: right;   
    height:min-content;   
    margin-right: 10px;

}


    .margin_blog_details{
   margin: 30px 0px 100px 0px;
}

    .blog__categories li {
        padding: 10px 30px 10px 0px;
    }
    .blog__categories li a {
        font-size: 24px;
    }
    .blog__categories li.righter {
        float: right;
        padding: 10px 0px 10px 10px;
    }
    .blog__posts .post {
        display: grid;
        grid-template-columns: 364px auto;
        grid-gap: 35px;
        margin-bottom: 20px;
        align-items: center;
    }
    .blog__posts .post {
        margin-bottom: 40px;
    }
    .blog__posts .post .image .img {
        display: block;
        width: 364px;
        height: 204px;
        background: #f5f9fc;
        border-radius: 12px;
    }
    .blog__posts .post .wrap p {
        margin-bottom: 20px;
        font-size: 18px;
        max-height: 902px;
    }
    .blog__posts .post .wrap p.h3, .h3{
        font-size: 24px;
        line-height: 130%;
        font-weight: bold;
    }
    .blog__posts .post .wrap .withCats {
        display: grid;
        grid-template-columns: auto auto;
        grid-gap: 10px;
        margin-bottom: 20px;
        align-items: center;
        justify-items: left;
    }
    .blog__posts .post .wrap .withCats .cta {
        padding: 4px 40px;
        min-width: 10px;
        font-size: 14px;
        font-weight: normal;
    }
    .addSpaceTopBottom {
        padding-top: 50px;
        padding-bottom: 70px;
    }
}

/* BLOG CONTENT */
.blog .blog__content {
    text-align: left;
}
.blog .blog__content p {
    font-size: 16px;
    line-height: 130%;
    margin-bottom: 30px;
    color: #fff;
}
.blog .blog__content .date {
    font-size: 14px;
}
.blog .blog__content .h1 {
    font-size: 24px;
}
.blog .blog__content .h2 {
    font-size: 19px;
}
.blog .blog__content p.h3{
    font-size: 16px;
}

@media screen and (min-width: 760px) {
    .blog .blog__content p {
        font-size: 18px;
        line-height: 130%;
        margin-bottom: 30px;
        color: #fff;
    }
    .blog .blog__content .date {
        font-size: 16px;
    }
    .blog .blog__content .h1 {
        font-size: 48px;
        margin-bottom: 40px;
    }
    .blog .blog__content .h2 {
        font-size: 24px;
    }
   
}
.blog-wrapper {
    max-width: 1440px;
    margin: 0 auto 50px auto;
    padding: 0px 15px;
    text-align: center;
}
@media screen and (min-width: 1060px) {
    .blog .blog__content p {
        font-size: 18px;
        line-height: 130%;
        margin-bottom: 30px;
        color: #fff;
    }
    .blog .blog__content{
        margin-bottom: 60px;
    }
     .blog-wrapper{
     margin: 0 auto 50px auto !important;
     padding: 0px 140px;
    text-align: left;
    }
    .blog .blog__content .date {
        font-size: 18px;
    }
    .blog .blog__content .h1 {
        font-size: 54px;
    }
    .blog .blog__content .h2 {
        font-size: 38px;
    }
}

/* BLOG AUTHOR */
.blog .blog__author {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding: 40px 0px;
}
.blog .blog__author .blog__person {
    font-size: 16px;
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 10px;
    text-align: left;
}
.blog .blog__author .blog__person .cont {
    font-size: 14px;
}
.blog .blog__author .blog__person .cont p {
    font-size: 14px;
    color: #fff;
    line-height: 130%;
}
.blog .blog__author .blog__person .cont .strong {
    font-size: 16px;
    margin-bottom: 0px;
    font-weight: bold;
}
.blog .blog__author .blog__person .image {
    font-size: 16px;
}
.blog .blog__author .blog__person .image img {
    max-width: 80px;
}

.newsletter_panel {
    display: block;
    margin: 40px auto 20px auto;
    border: 1px solid #ffffff;
    border-radius: 5px;
    padding: 20px;
    max-width: 230px;
}
.subfeedback {
    display: block;
    margin: 40px auto 20px auto;  
    border-radius: 5px;
    padding: 5px 20px;
    max-width: 230px;
}


.newsletter_panel p {
    font-size: 14px;
    color: #fff;
}
.newsletter_panel .head {
    font-size: 16px;
    font-weight: bold;
}
.newsletter_panel input {
    display: inline-block;
    width: 95%;
    background: transparent;
    color: #fff;
    margin-bottom: 20px;
    border: 0;
    border-bottom: 1px solid #eee;
    font-size: 14px;
}
.newsletter_panel .cta {
    padding: 0px 15px;
    min-width: 80px;
    font-weight: normal;
}
.newsletter_panel input::placeholder {
    color: #eee;
    opacity: 1;
}
.newsletter_panel input:-ms-input-placeholder {
    color: #eee;
    opacity: 1;
}
.newsletter_panel input::-webkit-input-placeholder {
    color: #eee;
    opacity: 1;
}
.pagination{
   max-width: 880px;
    margin-bottom: 10rem;
     margin: 0px auto 10rem auto;
     display: none;
}

.pagination .cta {
        display: inline;
        margin: 0 auto;
        padding: 7px 25px;
        width: 10px;
        font-weight: normal;
      
    }

.mobile-pagination .cta {
        display: inline;
        margin: 0 auto;
        height: 40px;    
        width: 40px;    
        padding: 5px;
        border-radius: 5px;
        font-weight: bold;
        color: #fff;
        font-size: 1rem;
      
    }
    

@media screen and (min-width: 760px) {
    .blog .blog__author {
        display: grid;
        grid-template-columns: auto 230px;
        grid-gap: 30px;
    }
    .blog .blog__author .scaffold {
        align-self: center;
    }
    .blog .blog__author .blog__person {
        grid-gap: 20px;
        max-width: 500px;
    }
    .blog .blog__author .blog__person .image img {
        max-width: 106px;
    }
    .blog .blog__author .blog__person .avatar {    
    width: 106px;
    height: 106px;
    border-radius: 50%;
}
    .blog .blog__author .blog__person .cont p {
        font-size: 16px;
        color: #fff;
        line-height: 130%;
    }
    .blog .blog__author .blog__person .cont .strong {
        font-size: 18px;
        margin-bottom: 10px;
    }
   .mobile-pagination {
       display: none;
   }
   .pagination {
       display: block;
   }

}

@media screen and (min-width: 1060px) {
    .blog .blog__author {
        border-bottom: 0px solid #ccc;
    }
    .blog .blog__author {
        display: grid;
        grid-template-columns: auto 270px;
        grid-gap: 30px;
    }
    .blog .blog__author .scaffold {
        align-self: center;
    }
    .blog .blog__author .blog__person {
        grid-gap: 20px;
        max-width: 700px;
    }
    .blog .blog__author .blog__person .image img {
        max-width: 160px;
    }
    .blog .blog__author .blog__person .cont p {
        font-size: 18px;
        color: #fff;
        line-height: 130%;
    }
    .blog .blog__author .blog__person .cont .strong {
        font-size: 26px;
        margin-bottom: 10px;
    }

    .blog .blog__author .blog__person .cont {
        align-self: center;
    }
    .blog .blog__author .blog__person .image img {
        align-self: center;
    }

    .newsletter_panel {
        max-width: 270px;
        border: 3px solid #ffffff;
    }
    .newsletter_panel .cta {
        display: block;
        margin: 0 auto;
        padding: 2px 25px;
        min-width: 180px;
        font-weight: normal;
    }
}
/* blog__seealso */
.blog__seealso {
    padding: 30px 30px;
}
.blog__seealso p.h3{
    font-size: 19px;
    text-align: center;
    color: #fff;
    margin-bottom: 30px;
}
.blog__seealso .post {
    display: none;
    margin-bottom: 40px;
}

.blog__seealso .wrapps .post:nth-child(1) {
    display: block;
}
.blog__seealso .wrapps .post:nth-child(2) {
    display: block;
}
.blog__seealso .post p {
    text-align: left;
    padding: 0px 20px;
    font-size: 16px;
    line-height: 130%;
    margin-bottom: 20px;
}
.blog__seealso .post p.h3{
    font-size: 19px;
    font-weight: bold;
    margin-bottom: 10px;
}
.blog__seealso .post .cta {
    padding: 5px 35px;
    min-width: 60px;
    font-weight: normal;
}
.blog__seealso .post .img {
    display: block;
    background: #f5f9fc;
    border-radius: 12px;
    width: 100%;
    height: 160px;
    margin: 0 auto 20px auto;
}

@media screen and (min-width: 760px) {
    .blog__seealso {
        padding: 50px 50px;
    }
    .blog__seealso p.h3{
        font-size: 24px;
        text-align: left;
    }
    .blog__seealso .wrapps {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 30px;
    }
}

@media screen and (min-width: 1060px) {
    .blog__seealso {
        padding: 50px 0px;
    }
    .blog__seealso p.h3{
        font-size: 24px;
        text-align: left;
    }
    .blog__seealso .wrapps {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 40px;
    }
    .blog__seealso .wrapps .post:nth-child(3) {
        display: block;
    }
    

}
.img-card-body{
    max-width: 276px !important;
    max-height: 183px !important;
    padding: 0;
    margin: 0;

}									
.card-content{
  
    min-height: 183px !important;
    padding: 0;
    margin: 0;

}	
							

/* END BLOG CONTENT */
/* START FOOTER */
.footer {
    padding: 0px 0px 0px 0px;
    text-align: center;
    position: relative;
    z-index: 10;
    overflow: hidden;
}
.footer .footer-content {
    background: #fff;
    position: relative;
    z-index: 20;
    padding-bottom: 30px;
    margin-top: -50px;
}
.footer .wrapper {
    margin-bottom: 0px;
}
.footer .wrapper .item {
    margin-bottom: 30px;
    font-size: 14px;
}
.footer .wrapper .item a {
    font-weight: normal;
    color: #b1b5d3;
    font-size: 14px;
}
.footer .wrapper .item p {
    font-weight: normal;
    color: #b1b5d3;
    font-size: 14px;
}
.footer .wrapper .item .head {
    font-weight: bold;
    margin-bottom: 4px;
    font-size: 14px;
}
.footer .wrapper .item .social {
    color: #b1b5d3;
    font-size: 18px;
}
.footer .wrapper .item .lazyLoad {
    transform: rotate(720deg);
    opacity: 0;
    transition-duration: 1s;
}
.footer .wrapper .item .lazyLoad.visible {
    transform: rotate(0deg);
    opacity: 1;
}

.footer-filler {
    margin-top: 0px;
    position: relative;
    z-index: 9;
    overflow: visible;
    min-height: 200px;
}
.footer-filler img {
    display: block;
    width: 100%;
    position: relative;
    z-index: 7;
}
.footer-filler img.bubble1 {
    position: absolute;
    top: 60px;
    left: 0px;
    right: 0px;
}
.footer-filler img.bubble2 {
    position: absolute;
    top: 25px;
    left: 0px;
    right: 0px;
}
.footer-filler img.bubble3 {
    margin-top: 0px;
}

@media screen and (min-width: 500px) {
}

@media screen and (min-width: 760px) {
    .footer .wrapper {
        display: grid;
        grid-template-columns: 1fr 2fr 2fr 2fr 1fr;
        grid-gap: 20px;
        margin-bottom: 0px;
    }
    .footer .footer-content {
        margin-top: -20px;
    }
    .footer .wrapper .socialWrapper {
        text-align: center;
    }
    .footer-filler img.bubble1 {
        position: absolute;
        top: 180px;
        left: 0px;
        right: 0px;
    }
    .footer-filler img.bubble2 {
        position: absolute;
        top: 50px;
        left: 0px;
        right: 0px;
    }
}

@media screen and (min-width: 900px) {
    .footer-filler {
        min-height: 600px;
    }
    .footer {
        margin-top: -150px;
    }
    .footer .wrapper {
        display: grid;
        grid-template-columns: 2fr 2fr 2fr 2fr 2fr;
        grid-gap: 20px;
        margin-bottom: 0px;
    }
    .footer .footer-content {
        margin-top: -100px;
    }
}

@media screen and (min-width: 1100px) {
    .footer {
        margin-top: -150px;
    }
    .footer .footer-content {
        margin-top: -100px;
    }
    .footer-filler img.bubble1 {
        top: 140px;
    }
    .footer-filler img.bubble2 {
        top: 70px;
    }
}

@media screen and (min-width: 1300px) {
    .footer .footer-content {
        margin-top: -200px;
    }
}

@media screen and (min-width: 1400px) {
    .footer .footer-content {
        margin-top: -230px;
    }
}

@media screen and (min-width: 1650px) {
    .footer .footer-content {
        margin-top: -260px;
    }
}

.contactForm .wrapper textarea {
   
    margin-bottom: 0px;
}
.form-errors{   
    border: 1px solid red !important;   
}




.errors p{

    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
	   border: 1px solid transparent;
        border-top-color: transparent;
		border-radius: .25rem;	
}
.errorin p{
	margin-left: 25px;
}

.form-success p{
    color: #155724 !important;
    background-color: #d4edda;
    border-color: #c3e6cb;
    border: 1px solid transparent;
        border-top-color: transparent;
    border-radius: .25rem;
    margin-left: 25px;
     
}

