[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Django = "<3.3,>=3.2"
wagtail = "<2.16,>=2.15"
psycopg2-binary = "*"
django-extensions = "*"
boto3 = "*"
django-storages = "*"

[dev-packages]

[requires]
python_version = "3.8"
