{% load static wagtailuserbar menus_tags %}
{% get_menu 'services-sub-menu' as services_sub_menu %}
{% get_menu 'main-menu' as main_menu %}
{% get_menu 'mobile-only' as mobile_menu %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">

    <title>Paweł Antoniak</title>
    <meta name="description" content="Simple and short description of this page">
    <meta name="keywords" content="page, agencja, marketingowa, warszawa">
    <meta name="copyright" content="All Rights Reserved">
    <meta name="author" content="">

    <meta name="distribution" content="Global">
    <meta name="robots" content="all">
    <meta name="googlebot" content="all">
    <meta name="revisit-after" content="2 days">

    <meta name="HandheldFriendly" content="true">
    <meta name="viewport" content="width=device-width, maximum-scale=5.0, user-scalable=yes">

    <base href=".">

    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="theme-color" content="#ffffff">
    <link rel="manifest" href="{% static 'core/css/manifest.webmanifest' %}">
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}">

    <link rel="stylesheet" href="{% static 'assets/fontello/css/animation.css' %}">
    <link rel="stylesheet" href="{% static 'assets/fontello/css/fontello.css' %}">
    <link rel="stylesheet" href="{% static 'core/css/appmain.css' %}">
    {% if add_careers_css %}
    <link rel="stylesheet" href="{% static 'core/css/jobstyle.css' %}">
    {% endif %}
  

    
    
    
    </head>
    
    <body itemscope="" itemtype="http://schema.org/WebPage" class="offline {% if add_careers_css %} white {% endif %}">
    
        <header class="header header-white">
            <div class="wrapper">
                            {% if not add_careers_css %}
                <a href="/" title="Agencja Marketingowa Warszawa" class="logotype"><svg class="logotype-image"
                        id="Warstwa_1" data-name="Warstwa 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1001 700"
                        alt="Agencja Marketingowa Warszawa">
                        <defs>
                            <style>
                                .cls-1 {
                                    fill: #fff;
                                }
                            </style>
                        </defs>
                        <polygon class="cls-1"
                            points="89.74 413.72 89.74 576.53 435.87 267.86 435.87 101.23 89.74 413.72" />
                        <polygon class="cls-1"
                            points="565.44 413.6 565.44 576.41 911.56 267.74 911.56 101.11 565.44 413.6" />
                        <polygon class="cls-1"
                            points="327.01 414.29 327.01 577.1 673.14 268.43 673.14 101.8 327.01 414.29" />
                    </svg></a>
                    {%else %}
                    <a href="/" title="Agencja Marketingowa Warszawa" class="logotype"><img
                            class="lazyLoad logotype-image alreadyVisible preloaded visible" data-src="assets/logotype-main-color.svg"
                            alt="" data-top="2040" data-bottom="2120" data-class="lazyLoad logotype-image alreadyVisible preloaded visible"
                            data-already-visible="1" data-preloaded="1" src="{% static 'core/images/logotype-main-color.svg' %}"></a>
                    {% endif %}


                    

    
                <nav role="navigation" class="navigation" id="menu-menu">
                    <span class="mobileMenu" id="mobileMenu">
                        <span class="navigation-close animated"><i class="icon-cancel-1"></i></span>
                        <span class="navigation-open animated"><i class="icon-menu"></i></span>
                    </span>
                    <span class="before"></span>
                    <ul class="clearfix" role="menubar" aria-activedescendant="">
                       
                        {% for item in main_menu.menu_items.all %}
                        {% if item.title == 'Services' %}
                        <li role="presentation" itemscope itemtype="https://schema.org/SiteNavigationElement">
                            <a data-id="1" data-parent="0" role="menuitem" tabindex="-1" itemprop="url" title="">
                        
                                <span class="drop-icon"><i class="icon-down-open"></i></span>
                                <label title="Toggle Drop-down" class="drop-icon" for="sm1"><span itemprop="name">{{ item.title }}</span> <i
                                        class="icon-down-open"></i></label>
                            </a>
                            <input type="checkbox" id="sm1" class="index">
                            <ul class="submenu" role="menubar" aria-activedescendant="">
                                {% for item in services_sub_menu.menu_items.all %}
                                <li role="presentation" itemscope itemtype="https://schema.org/SiteNavigationElement">
                                    <a href="{{ item.link }}" role="menuitem" tabindex="-1" itemprop="url" title="">
                                        <span itemprop="name">{{ item.title }}</span>
                                    </a>
                                </li>
                                {% endfor %}
                            </ul>
                        </li>                            
                            {% else %}
                            <li role="presentation" itemscope itemtype="https://schema.org/SiteNavigationElement">

                            <a href="{{ item.link }}" role="menuitem" tabindex="-1" itemprop="url" title="">
                                <span itemprop="name">{{ item.title }}</span>
                            </a>
                        </li>
                        {% endif %}



                        {% endfor %}

                        {% for item in mobile_menu.menu_items.all %}
                       
                        <li role="presentation" itemscope itemtype="https://schema.org/SiteNavigationElement"
                            class="mobileOnly">
                            <a href="{{ item.link }}" role="menuitem" tabindex="-1" itemprop="url" title="">
                                <span itemprop="name">{{ item.title }}</span>
                            </a>
                        </li>
                        {% endfor %}                       
                       
                        <li role="presentation" itemscope itemtype="https://schema.org/SiteNavigationElement"
                            class="language">
                            <a href="#" role="menuitem" tabindex="-1" itemprop="url" title="">
                                <strong itemprop="name">PL</strong>
                            </a>
                        </li>
                        <li role="presentation" itemscope itemtype="https://schema.org/SiteNavigationElement"
                            class="language">
                            <a href="/" role="menuitem" tabindex="-1" itemprop="url" title="">
                                <span itemprop="name">EN</span>
                            </a>
                        </li>
                        <li role="presentation" itemscope itemtype="https://schema.org/SiteNavigationElement"
                            class="language">
                            <a href="/" role="menuitem" tabindex="-1" itemprop="url" title="">
                                <span itemprop="name">RU</span>
                            </a>
                        </li>
                    </ul>
                    <span class="after"></span>
                </nav>
            </div>
        </header>
    
        <span class="header-filler"></span>
    
        <div id="goToTop"><span></span></div>
    
    
    {% block content %}
    {% endblock content %}
<!-- 9rH4J$43TChT3GoQ*5 -->
    
        
    <footer class="footer">
    {% if not add_careers_css %}
        <div class="footer-filler">
            <img class="bubble3" src="{% static 'core/images/bubble3.svg' %}" alt="">
            <img class="bubble2" src="{% static 'core/images/bubble2.svg' %}" alt="">
            <img class="bubble1" src="{% static 'core/images/bubble1.svg' %}" alt="">
        </div>
{%else %}
        <div class="footer-filler">
            <img class="bubble3" src="{% static 'core/images/bubble1-grey.svg' %}" alt="">
            <img class="bubble2" src="{% static 'core/images/bubble2-grey.svg' %}" alt="">
            <img class="bubble1" src="{% static 'core/images/bubble1-grey-alt.svg' %}" alt="">
        
        </div>

        {% endif %}
    
        <div class="footer-content">
    
            <div class="wrapper">
        {% if not add_careers_css %}
        <div class="item">
            <a href="/">
            <img class="lazyLoad" data-src="{% static 'core/images/logotype-main-color.svg' %}" alt=""></a>
        </div>
        {%else %}
        <div class="item">
            <a href="/" title="Agencja Marketingowa Warszawa" class="logotype"><svg class="logotype-image" id="Warstwa_1"
                    data-name="Warstwa 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1001 700"
                    alt="Agencja Marketingowa Warszawa">
                    <defs>
                        <style>
                            .cls-1 {
                                fill: #fff;
                            }
                        </style>
                    </defs>
                    <polygon class="cls-1" points="89.74 413.72 89.74 576.53 435.87 267.86 435.87 101.23 89.74 413.72" />
                    <polygon class="cls-1" points="565.44 413.6 565.44 576.41 911.56 267.74 911.56 101.11 565.44 413.6" />
                    <polygon class="cls-1" points="327.01 414.29 327.01 577.1 673.14 268.43 673.14 101.8 327.01 414.29" />
                </svg></a>
        </div>

        {% endif %}
               
   
                <div class="item">
                    <p class="head">Strony</p>
                    <ul>
                        <li><a href="/"><span>Główna</span></a></li>
                        <li><a href="#"><span>Usługi</span></a></li>
                        <li><a href="#"><span>Technologia</span></a></li>
                        <li><a href="#"><span>Wiedza</span></a></li>
                    </ul>
                </div>
    
                <div class="item">
                    <p class="head">Legal</p>
                    <ul>
                        <li><a href="#"><span>Privacy policy</span></a></li>
                        <li><a href="#"><span>Terms of service</span></a></li>
                        <li><a href="#"><span>Security and policy</span></a></li>
                    </ul>
                </div>
    
                <div class="item">
                    <p class="head">Kontakt</p>
                    <p>ul. Taneczna 61H m2,<br>02-829 Warszawa<br>tel: 693 05 06 09</p>
                </div>
    
                <div class="item socialWrapper">
                    <span class="social"><i class="icon-linkedin-squared"></i></span>
                    <span class="social"><i class="icon-facebook-squared"></i></span>
                    <span class="social"><i class="icon-linkedin-rect"></i></span>
                    <span class="social"><i class="icon-instagram-1"></i></span>
                </div>
    
            </div>
    
        </div>
    
    </footer>
    
  
    <script src="{% static 'core/js/glide.js' %}"></script>
    <script src="{% static 'core/js/jquery-3.6.0.min.js' %}"></script>
   
    <script src="{% static 'core/js/app.js' %}"></script>
    
    
    <script src="{% static 'core/js/form.js' %}"></script>
    </body>
    
    </html>