{% extends "wagtailadmin/base.html" %}
{% load static %}

{% block branding_logo %}

<svg class="logotype-image" id="Warstwa_1"
        data-name="Warstwa 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1001 700"
        alt="Agencja Marketingowa Warszawa">
        <defs>
            <style>
                .cls-1 {
                    fill: #fff;
                }
                .logotype-image {
    height: 80px;
    width: 80px;
    position: absolute;
    top:-30px;
    left:0px;
}
            </style>
        </defs>
        <polygon class="cls-1" points="89.74 413.72 89.74 576.53 435.87 267.86 435.87 101.23 89.74 413.72" />
        <polygon class="cls-1" points="565.44 413.6 565.44 576.41 911.56 267.74 911.56 101.11 565.44 413.6" />
        <polygon class="cls-1" points="327.01 414.29 327.01 577.1 673.14 268.43 673.14 101.8 327.01 414.29" />
    </svg>

{% endblock %}